<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "polls/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron text-center" style="margin-bottom: 0px;margin-top: 0px;">

    <p class="lead">Welcome to our space! We are a dynamic trio—Guna, Muzammil, and Quadri—each bringing unique strengths and passions to everything we do.

      <h2>Guna Ratnam</h2>
      Driven by curiosity and innovation, Guna is always exploring the latest trends in technology and management. With a keen interest in computer hardware and cybersecurity, Guna is known for problem-solving skills and a leadership style that blends strategy with creativity. Whether it’s building web apps or leading school teams, Guna’s focus is on pushing boundaries and inspiring others to achieve their best.
      
      <h2>Muzammil</h2>
      Muzammil brings a love for coding and creative design to the team. His expertise lies in web development and crafting seamless user experiences. Always ready to take on new challenges, Muzammil’s detail-oriented approach ensures every project is not only functional but also engaging. His collaborative spirit and dedication to excellence make him an essential part of the team’s success.
      
      <h2>Humzah Quadri</h2>
      Humzah is the team's resident tech enthusiast and innovator, with a sharp focus on data analysis and software development. His passion for coding and efficiency drives him to constantly improve processes and outcomes. Quadri’s strength lies in his ability to translate complex problems into simple, effective solutions. Always willing to go the extra mile, he’s a true asset in any project.
      
      <h3></h3>
      Together, we form a team that is ready to take on any challenge, combining our diverse talents to create meaningful and innovative solutions. Whether it's technology, management, or creative projects, we’re committed to excellence and collaboration  </p>
  </p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
    <br><br><br><br>
  </div>

  {% include "polls/footer.html" %}
</body>

</html>
